@page
@model TicketCentral.Pages.CurrentEventsModel
    <link rel="stylesheet" href="~/css/BookEventStyle.css" />
    @{
        ViewData["Title"] = "CurrentEvents";
    }

    <h2>CurrentEvents</h2>

    <div class="container">
        <div class="row">
            <div class="[ col-xs-12 col-sm-offset-2]">
                <h4>Upcoming events you don't want to miss.</h4>
                @{
                    int i = 0;
                    foreach (var item in Model.VenueBooking)
                    {
                        i++;
                    }
                    var count = i;
                }

                <h5>We currently have @count events posted.</h5>

                <ul class="event-list pull-left">

                    @foreach (var item in Model.VenueBooking)
                    {
                        <li>
                            <time datetime="@Html.DisplayFor(modelItem => item.BookingDate)">
                                <span class="day">
                                    @Html.DisplayFor(modelItem => item.BookingDate.Day)
                                </span>
                                <span class="month">
                                    @Html.DisplayFor(modelItem => item.BookingDate.Month)
                                </span>
                                <span class="year">
                                    @Html.DisplayFor(modelItem => item.BookingDate.Year)
                                </span>
                                <span class="time">ALL DAY</span>
                            </time>
                            <div class="info">
                                <h2 class="title"> The best of music!</h2>
                                <p class="desc">
                                    @Html.DisplayFor(modelItem => item.Event.EventName)
                                    @Html.DisplayFor(modelItem => item.Venue.VenueName)
                                    @Html.DisplayFor(modelItem => item.Venue.VenueAddress)
                                    @Html.DisplayFor(modelItem => item.Venue.VenuePostcode)
                                </p>
                                <ul>
                                    <input type="button" title="Book" value="Book!" onclick="location.href='@Url.Action(" BookTicket", "IndexModel" , new { id=item.VenueBookingID })'" />
                                </ul>
                            </div>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>

