@page
@model TicketCentral.Pages.VenueBookings.IndexModel
    <link rel="stylesheet" href="~/css/BookEventStyle.css" />

    @{
        ViewData["Title"] = "Home page";
    }

    <div class="jumbotron">
        <h1>Ticket Central</h1>
    </div>

    <div id="demo" class="carousel slide" data-ride="carousel">

        <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
        </ul>

        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/images/page_about/about_venueImg.jpg" alt="concert">
                <div class="carousel-caption">
                    <h3>Great venues for a great price.</h3>
                    <p>We had such a great time at the o2!</p>
                </div>
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>TICKET CENTRAL</h2>
            <p>
                Welcome to Ticket Central, a free community where we pride ourselves in connecting enthusiasts to their interests.
            </p>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="[ col-xs-12 col-sm-offset-2]">
                <h4>Upcoming events you don't want to miss.</h4>
                <ul class="event-list pull-left">
                    @foreach (var item in Model.VenueBooking.Take(2))
                    {
                        <li>
                            <time datetime="@Html.DisplayFor(modelItem => item.BookingDate)">
                                <span class="day">
                                    @Html.DisplayFor(modelItem => item.BookingDate.Day)
                                </span>
                                <span class="month">
                                    @Html.DisplayFor(modelItem => item.BookingDate.Month)
                                </span>
                                <span class="year">
                                    @Html.DisplayFor(modelItem => item.BookingDate.Year)
                                </span>
                                <span class="time">ALL DAY</span>
                            </time>
                            <div class="info">
                                <h2 class="title"> The best of music!</h2>
                                <p class="desc">
                                    @Html.DisplayFor(modelItem => item.Event.EventName)
                                    @Html.DisplayFor(modelItem => item.Venue.VenueName)
                                    @Html.DisplayFor(modelItem => item.Venue.VenueAddress)
                                    @Html.DisplayFor(modelItem => item.Venue.VenuePostcode)
                                </p>
                                <input type="button" title="Book" value="Book!" onclick="location.href='@Url.Action("BookTicket", "IndexModel", new { id = item.VenueBookingID })'" />
                            </div>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
