@page
@model TicketCentral.Pages.Tickets.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ticket[0].Customer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ticket[0].VenueBooking)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Ticket) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.CustomerID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VenueBooking.VenueBookingID)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.TicketID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.TicketID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.TicketID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
